.-arial-font-family {
  font-family: Arial;
}
.-georgia-font-family {
  font-family: Georgia;
}
.-times-new-roman-font-family {
  font-family: "Times New Roman";
}
.-verdana-font-family {
  font-family: Verdana;
}
