.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 999;

  .flex {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
    .-left-content- {
      .item {
        padding: 7px;
        border-radius: 30px;
        display: flex;
        align-items: center;

        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    .-right-content- {
      display: flex;

      .item {
        padding: 7px;
        border-radius: 30px;
        display: flex;
        align-items: center;

        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
    .modal-music {
      transform: scale(0);
      transition: transform 110ms ease-in-out;
      display: none;
      position: absolute;
      top: 50px;
      right: 10px;
      border-radius: 7px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      display: flex;
      width: 320px;

      flex-direction: column;
      z-index: 1000;
      @include response-to(mobile-l) {
        width: 250px;
      }
      &.open {
        display: flex;
        transform: scale(1);
      }

      .musicHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        border-bottom: 1px solid rgb(200, 200, 200);
        .icon {
          display: flex;
          padding: 7px;
          border-radius: 30px;
          cursor: pointer;
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
      .musicBody {
        display: flex;
        padding: 20px 15px;
        flex-direction: column;
        max-height: 250px;
        .fileHandlingUpload {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          margin-top: 10px;
          justify-content: center;
          height: 100%;
          .file-up {
            .upload-mp3-file {
              padding: 10px 20px;
              border-radius: 5px;
              background-color: rgb(219, 219, 219);
              color: black;
              cursor: pointer;
              &:hover {
                background-color: rgb(205, 205, 205);
              }
            }
          }
          .freeMusicToListen {
            margin-top: 15px;
            margin-bottom: 15px;
            .selectContainer {
              margin-top: 10px;
              border: 1px solid gray;
              border-radius: 5px;
              padding: 7px;
              position: relative;
              &:active {
                border-image: linear-gradient(to right, #9d50bb, #fa6e5a);
                border-image-slice: 1;
              }
              &.-set-active-state {
                border-image: linear-gradient(to right, #9d50bb, #fa6e5a);
                border-image-slice: 1;
              }
              .selectChoose {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                gap: 10px;

                .iconContainerSelect {
                  display: flex;
                  align-items: center;
                  &.expandMoreIcon {
                    transform: rotate(180deg);
                  }
                }
              }
              .selectItems {
                display: none;
                position: absolute;

                width: 100%;
                left: 0;
                top: 100%;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                transform: translateY(2px);
                &.-select-items-display {
                  display: block;
                }
                .itemSelect {
                  padding: 5px;
                  cursor: pointer;
                  position: relative; // Add this line
                  overflow: hidden;
                  &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to right, #9d50bb, #fa6e5a);
                    z-index: -1;
                    transition: opacity 0.2s ease-in-out;
                    opacity: 0;
                  }

                  &:hover {
                    color: white;

                    &:before {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
        .fileHandlingUpload.-display-optionMusic {
          display: none;
        }
      }
      .wrapperBodyMusic {
        .itemMusic {
          display: flex;
          position: relative;

          .musicTitle {
            font-size: 16px;
            font-weight: 600;
          }
          .musicArtist {
            font-size: 14px;
            color: gray;
          }
          .musicCurrent {
            font-size: 14px;
            color: gray;
          }
          .musicDuration {
            font-size: 14px;
            color: gray;
          }
          .infoShow {
            p {
              font-size: 14px;
              color: gray;
            }
          }
          .volumeControl {
            width: 100%;
            .volume-control {
              width: 100%;
              display: flex;

              .volume-control-input {
                -webkit-appearance: none; /* Remove default styling */
                width: 100%;
                &::-webkit-slider-runnable-track {
                  width: 100%;
                  height: 5px;
                  background: rgb(179, 179, 179); /* Make the track black */
                  /* Round the corners of the track */
                }

                &::-webkit-slider-thumb {
                  -webkit-appearance: none; /* Remove default styling */
                  width: 13px;
                  height: 13px;
                  background: rgb(79, 79, 79); /* Make the thumb black */
                  border-radius: 50%; /* Make the thumb a circle */
                  cursor: pointer; /* Change cursor to pointer on hover */
                  margin-top: -4px; /* Adjust position to center the thumb */
                }
              }
            }
          }
        }
        .itemMusic.itemCol {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 80px;
        }
        .itemMusic.itemRow {
          justify-content: space-between;
        }
        .itemMusic.musicRow {
          background-color: white;
          height: 30px;
          padding: 10px;
          width: 30%;
          display: flex;
          transform: rotate(-90deg);
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -75%;
          left: -1%;
        }
        .progress-bar {
          margin: 10px 0;
          .progress {
            position: relative;
          }
        }
        .itemMusic.itemIcons {
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          border-radius: 30px;
        }
        .icon {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          border-radius: 30px;

          .wrapperSingleIcon {
            display: flex;
            align-items: center;
            padding: 7px;
            border-radius: 30px;
            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
            &:active {
              scale: 1.03;
            }
          }
          .wrapperSingleIcon.infoShowWrapIcon {
            padding: 0;
          }
          .wrapperSingleIcon.-set-option-none {
            display: none;
          }
          .wrapperSingleIcon.-set-option-display {
            display: flex;
          }
          .wrapperSingleIcon.-loop-status-display {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
        .icon.iconPlayPause {
          width: 60%;
        }
        .icon.iconRepeat {
          width: 40%;
          right: 0;
        }
      }
    }
    .modal-themes {
      transform: scale(0);
      transition: transform 110ms ease-in-out;
      display: none;
      position: absolute;
      top: 50px;
      right: 10px;
      border-radius: 7px;
      box-shadow: 0 0 20px 0.1px rgba(0, 0, 0, 0.15);
      display: flex;

      width: 370px;
      flex-direction: column;
      @include response-to(mobile-l) {
        width: 290px;
      }
      &.open {
        display: flex;
        transform: scale(1);
      }
      .modal-themes-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .config-header {
          display: flex;
          justify-content: space-between;

          border-bottom: 1px solid rgb(200, 200, 200);

          padding: 10px 15px;
          .icon {
            padding: 5px;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 100px;
            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
        .config-body {
          overflow: hidden;
          overflow-y: auto;
          max-height: 500px;
          height: 500px;
          padding: 0 15px;
          white-space: nowrap;

          .itemTheme.colsItemTheme {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            padding: 10px;
            .label {
              font-weight: 600;
            }
            .-item-theme-flex-row-.-biggergap-theme {
              gap: 20px;
            }
          }
          .itemTheme {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            gap: 5px;
            width: 100%;
            position: relative;
            @include response-to(mobile-l) {
              flex-direction: column;
              align-items: start;
            }
            .label {
              font-weight: 600;
            }
            .relativeContainer {
              position: relative;
              .colorBackground {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100px;
                justify-content: space-between;
                border: 1px solid gray;
                border-radius: 5px;
                padding: 5px 10px;
                cursor: pointer;
                .colorText {
                  font-size: 14px;
                }
                .iconChoose {
                  display: flex;
                  align-items: center;
                }
              }
              .colorBackground.fontWidth {
                width: 200px;
              }
              .colorBackground.activeColor {
                border: 1px solid rgb(37 99 235);
              }

              .cardColors {
                position: absolute;
                left: 0;
                right: 0;
                border-radius: 5px;
                z-index: 500;
                top: 36px;
                max-height: 200px;
                overflow-y: auto;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                .flexCardColors {
                  display: flex;
                  flex-direction: column;

                  .colorSpes {
                    padding: 10px;
                    cursor: pointer;
                    &:hover {
                      background-color: rgba(0, 0, 0, 0.1);
                    }
                  }
                  .colorSpes.-active-background-color {
                    background-color: rgba(0, 0, 0, 0.1);
                  }
                }
              }
            }

            .flexRowColors {
              display: flex;
              gap: 10px;
              .flexColumnItem {
                display: flex;
                flex-direction: column;
                gap: 5px;
                .whiteColor {
                  border: 1px solid gray;
                  background-color: white;
                  width: 40px;
                  height: 20px;
                }
                .blackColor {
                  border: 1px solid gray;
                  background-color: black;
                  width: 40px;
                  height: 20px;
                }
                .sepiaColor {
                  background-color: #dcc1a7;
                  width: 40px;
                  height: 20px;
                }
              }
            }
            .-item-theme-flex-row- {
              display: flex;
              align-items: center;

              justify-content: flex-end;
              gap: 10px;
              cursor: pointer;
              .-p-theme {
                padding: 4px 15px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                border: 1px solid gray;
                &:hover {
                  background-color: rgba(0, 0, 0, 0.1);
                }
                &:active {
                  scale: 0.97;
                }
              }
              .-p-theme.-active-state-change {
                background-color: rgba(0, 0, 0, 0.1);
              }
              .-value-theme {
                color: gray;
                font-size: 13px;
                width: 25px;
              }
            }
          }
        }
      }
    }

    .modal-toc {
      transform: scale(0);
      transition: transform 110ms ease-in-out;
      display: none;
      position: absolute;
      top: 50px;
      left: 10px;
      border-radius: 7px;
      box-shadow: 0 0 20px 0.1px rgba(0, 0, 0, 0.15);
      display: flex;

      width: 350px;
      flex-direction: column;
      @include response-to(mobile-l) {
        width: 280px;
      }

      &.open {
        display: flex;
        transform: scale(1);
      }
      .modal-toc-flex {
        display: flex;
        flex-direction: column;
        .toc-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          border-bottom: 1px solid rgb(200, 200, 200);
          .label-big {
            .label-text {
              font-size: 20px;
            }
          }
          .icon {
            display: flex;
            align-items: center;
            padding: 5px;
            border-radius: 20px;
            cursor: pointer;
            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
        .toc-body {
          display: flex;
          flex-direction: column;

          overflow: hidden;
          overflow-y: auto;
          max-height: 500px;
          height: 500px;
          padding: 10px 0;
          .toc-body-item {
            padding: 15px 12px;
            cursor: pointer;
            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}
