.button-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s;
  &:hover {
    background-color: #e1e1e1;
  }
  &:active {
    background-color: #d1d1d1;
  }
}

.input-file-upload {
  display: none;
}

.container {
  min-height: 100vh;
  height: 100vh;
  min-width: 200px;
  background-color: rgb(249, 249, 249);

  .fx-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // background-color: red;

    .card {
      width: 70%;

      max-width: 1500px;
      max-height: 500px;
      min-height: 200px;
      min-width: 200px;
      height: 60%;
      border-radius: 7px;
      background-color: white;
      border: 1px solid rgb(236, 236, 236);
      margin: 10px;
      display: flex;
      flex-direction: row;

      .card-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        .sub-item {
          display: flex;
          flex-direction: column;
          height: 100%;
          align-items: center;
          justify-content: center;
          width: 100%;
          .text {
            display: flex;
            flex-direction: column;
            .title-upload {
              margin-bottom: 80px;
            }
            .dragndrop {
              align-self: center;
              text-align: center;
            }
            .middle {
              align-self: center;
              margin-top: 50px;
              margin-bottom: 50px;
            }
          }
          .file-up {
            align-self: center;
          }
        }
      }
      .card-item.left {
        border-right: 1px solid rgb(236, 236, 236);
        justify-content: flex-start;
        align-items: flex-start;
        padding: 50px;
        @include response-to(tablet) {
          border-right: none;
          width: 100%;
        }
      }
      .card-item.right {
        padding: 50px;
        @include response-to(tablet) {
          display: none;
        }
      }
    }
  }
}

.container.-display-option {
  display: none;
}
