@font-face {
  font-family: "Cedrick";
  src: url("../../assets/font/PlaywriteUSTrad-Regular.ttf");
}
@font-face {
  font-family: "CustomFont";
  src: url("../../assets/font/PlaywriteUSTrad-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "-georgia-font-family";
  src: local("Georgia");
}
@font-face {
  font-family: "-times-new-roman-font-family";
  src: local("Times New Roman");
}
@font-face {
  font-family: "-verdana-font-family";
  src: local("Verdana");
}
